<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Podsumowanie</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/products" class="active">Produkty</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="info__container">
        <% if(isSuccess) { %>
            <div class="notify-banner">
                <h2 class="notify-header">Zamówienie zostało złożone</h2>
            </div>
        <% }else{ %>
            <div class="notify-banner">
                <h2 class="notify-header">Niektóre produkty zostały już wyprzedane</h2>
            </div>
        <% } %>
        <button class="order-cta return-button"><a class="no-style-link" href="/products">Wróć na stronę produktów</a></button>
    </div>
</main>
</body>

</html>