* {
  font-size: 16px;
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
  font-weight: normal;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body .content-container {
  flex: 1 0 auto;
}
body .content-container header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
}
body .content-container header .title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .content-container header .title-container #logo {
  width: 60px;
  height: 60px;
}
body .content-container header .title-container #page-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 16px;
}
@media all and (max-width: 600px) {
  body .content-container header .title-container #page-title {
    display: none;
  }
}
body .content-container header .navbar {
  display: flex;
  flex-grow: 2;
  align-self: flex-start;
  justify-content: flex-end;
}
body .content-container header .navbar a {
  width: 80px;
}
@media all and (max-width: 1024px) {
  body .content-container header .navbar a {
    display: none;
  }
}
body .content-container header .navbar #burger {
  width: 60px;
  height: 60px;
}
@media all and (min-width: 1025px) {
  body .content-container header .navbar #burger {
    display: none;
  }
}
body .content-container main {
  display: flex;
  padding: 16px;
}
body .content-container main .article {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 100%;
  border: 2px solid black;
  background-color: #E0E4CC;
}
body .content-container main .article .title-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
body .content-container main .article .title-item h1 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 50%;
  padding: 8px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
body .content-container main .article .title-item .first-header {
  background-color: #69D2E7;
}
body .content-container main .article .title-item .second-header {
  background-color: #F38630;
}
body .content-container main .article .title-item .third-header {
  background-color: #E9AEAF;
}
body .content-container main .article .article-text {
  text-align: justify;
  padding: 16px;
}
@media all and (max-width: 1024px) {
  body .content-container main {
    flex-wrap: wrap;
  }
  body .content-container main .article:first-child {
    flex: 0 1 100%;
  }
  body .content-container main .article {
    flex: 1 0 30%;
  }
}
@media all and (max-width: 600px) {
  body .content-container main {
    flex-direction: column;
  }
  body .content-container main .article {
    width: auto;
  }
}
body footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #E0E4CC;
  height: 100px;
  border-top: 2px solid black;
  margin-top: 16px;
}
body footer #name {
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
